/**
 * @name Komranders theme
 * @version 1.0
 * @description Komranders discord theme
 * @source https://github.com/Komrander/LinuxConfig/Discord/Komrander.theme.css
 * @updateUrl https://raw.githubusercontent.com/Komrander/LinuxConfig/Discord/Komrander.theme.css
 * @website 
 * @donate
 * @patreon 
 * @invite 
 * @author Komrander
 * @authorId
 * @authorLink 
 */

.theme-dark,
.theme-light,
:root {
   --background-primary: #383838 !important;
   --background-secondary: #303030 !important;
   --background-secondary-alt: #232323 !important;
   --background-tertiary: #232323 !important;
   --background-accent: #4b4b4b !important;
   --background-floating: black !important;
   --background-modifier-hover: #3b3b3b !important;
   --background-modifier-active: #4b4b4b !important;
   --background-modifier-selected: #4b4b4b !important;
   --background-modifier-accent: hsla(0, 0%, 100%, 0.06) !important;
   --channeltextarea-background: var(--background-accent) !important;
   --deprecated-card-bg: rgba(0, 0, 0, 0.2) !important;
   --deprecated-card-editable-bg: rgba(0, 0, 0, 0.1) !important;
   --deprecated-text-input-bg: var(--deprecated-card-editable-bg) !important;
   --deprecated-text-input-border: var(--background-floating) !important;
   --deprecated-text-input-border-disabled: var(--background-tertiary) !important;
   --activity-card-background: var(--background-primary) !important;
   --channels-default: #9f9f9f !important;
   --text-muted: #b6b6b6 !important;
   --text-normal: #ffffff !important;
   --interactive-normal: #c8c8c8 !important;
   --interactive-hover: #dcddde !important;
   --interactive-active: #fff !important;
   --interactive-muted: #747474 !important;
   --header-primary: white !important;
   --header-secondary: #c9c9c9 !important;
   --toast-background: var(--background-primary) !important;
   --toast-header: var(--background-tertiary) !important;
   --toast-contents: var(--background-secondary) !important;
   --toast-box-shadow: rgba(0, 0, 0, 0.2) !important;
   --toast-border: var(--background-tertiary) !important;
}
